@{
    ViewBag.Title = "Customer Information";
}

<div class="jumbotron">
    <h1>Alfar Backend Challenge</h1>
    <p class="lead">Create your Address first then use it in Creating new customer</p>
</div>
